pip
Django
django-allauth
django-crispy-forms
django-cors-headers
django-utils-six
Pillow
python-dotenv
djangorestframework
djangorestframework-simplejwt
bootstrap4
crispy-bootstrap4
certifi
gunicorn
picamera
#opencv-python-headless